$black: #202020;
$lightgrey: #d5d5d5;
$darkgrey: #7a7a7a;






/* Reseteamos los margin y paddings de todas las etiquetas */
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* Evitamos problemas con las imagenes */
img, picture, video, iframe, figure {
  max-width: 100%;
  
  display: block;
  /* opcional */
  -o-object-fit: cover;
     object-fit: cover;
  /* opcional */
  -o-object-position: center center;
     object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en párrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

/* Configuramos el texto que seleccionamos */


/* Nivelamos problemas de tipografías y colocación de formularios */
form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* opcional */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* Reseteamos las tablas */
table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}


/* header*/

header{
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
}
.header_icons{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}
.header_a{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_nav{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    overflow: hidden;
    width: 0%;
    height: 100vh;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.221);
    backdrop-filter: blur(5px);
    position: absolute;
    top: 0;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.desplegar{
   width: 100%;
   opacity: 1;
   
   
}
.header_ul{
   
   position: absolute;
   padding: 1rem 1.5rem;
   width: 70%;
   height: 100vh;
   background-color: white;
}
.header_ul_li{
    padding: 0.5rem 0;
    display: flex;
    justify-content: space-between;
}
.header_li_a{
    font-size: 1.5rem;
    font-weight: 600;
}
.header_a_flecha{
    width: 15px;
    height: 27.5px;
}

/* Devoluciones */

.devoluciones{
    background-color: $lightgrey;
    text-align: center;
    padding: 0.8rem 2rem;
    font-size: small;
}
.devoluciones_a{
    font-weight: 900;
    text-decoration: underline;
}

/* Portada */

.portada{
    padding: 0 1.5rem;
    margin-bottom: 2.5rem;
}
.portada_img{
    width: 100%;
    height: 50vh;
}
.portada_texto{
    padding: 1rem 0;
}
.portada_texto_h1{
    font-weight: 900;
    font-size: 3rem;
    font-family: 'Anton', sans-serif;
}
.portada p{
    margin: 0.7rem 0;
}
.portada_portada_texto_a{
    background-color: $black;
    padding: 0.5rem 1.3rem;
    color: white;
    width: 6.5rem;
    border-radius: 2rem;
    text-align: center;
}

/* Equipate */

.equipate{
    padding: 0 1.5rem;
    overflow: auto;
    margin-bottom: 5rem ;
    
    
    
}
.equipate_h2{
    font-weight: 900;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
.equipate_carrousel{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 500%;
    
    
    
    

}
.equipate_carrousel_items{
    padding-right: 2rem;
    
}
.equipate_carrousel_items_texto{
    padding: 1rem 0;
}
.equipate_carrousel_items_texto h3{
    font-weight: 900;
    padding-bottom: 1rem;
    font-size: larger;
}

.equipate_carrousel_items_texto a{
    background-color: $black;
    margin: 1rem 0;
    width: 6rem;
    border-radius: 2rem;
    color: white;
    text-align: center;
    padding: 0.5rem 1rem;
}

/* App */

.app{
    padding: 0 1.5rem;
    margin-bottom: 8rem;
}
.app h3{
    padding: 1.5rem 0;
    font-weight: 900;
    font-size: 1.5rem;
}
.app_img{
    width: 100%;
    height: 24rem;
    padding: 1rem 0;
}
.app_galeria_a{
    position: relative;
}
.app_galeria_posicion{
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    color: white;
    font-weight: 900;
}
.app_galeria_posicion p{
    background-color: white;
    width: 10rem;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    color: $black;
    margin-top: 1rem ;
}

/* segundo carrousel */
.red{
    color: red;
}

/* Perder */

.perder{
    padding: 0 1.5rem;
    margin-bottom: 8rem;
}
.perder_h3{
    margin-bottom: 3rem;
    font-weight: 900;
    font-size: 1.5rem;
}
.perder_texto{
    margin-top: 2rem;
    width: 70%;
}
.perder_texto h2{
    font-weight: 900;
    font-size: 2.5rem;
    padding-top: 1rem;
}

.perder_texto_a{
    background-color: $black;
    color: white;
    width: 6rem;
    padding: 0.6rem 0.8rem;
    border-radius: 2rem;
    text-align: center;
    margin-top: 2rem;
}

/* Unete */

.unete{
    padding: 0 1.5rem;
    margin-bottom: 8rem;
}
.unete_h2{
    font-weight: 900;
    font-size: 2rem;
    margin-bottom: 2rem;
}
.unete_position{
   position: relative;
    
}
.unete_img{
    filter: brightness(50%);
}
.unete_position_text{
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    width: 80%;

}
.unete_position_text h3{
    font-size: 2.5rem;
    font-weight: 900;
    line-height: 2.5rem;
    color: white;
}
.unete_position_text_a{
    background-color: $black;
    width: 6rem;
    padding: 0.6rem 0.8rem;
    border-radius: 2rem;
    text-align: center;
    color: white;
    margin-top: 2rem;
}

/* nike */

.nike{
    padding: 0 1.5rem;
    margin-bottom: 8rem;
    overflow: scroll;
    scroll-snap-type: x mandatory;
}
.nike_h2{
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 2rem;
}

.nike_carrousel{
    display: flex;
    width: 1200px;
    
}
.nike_carrousel_img{
    width: 300px;
    height: auto;
    padding-right: 1rem;
}

/* categorias */
.categorias{
    padding: 0 1.5rem;
    margin-bottom: 8rem;
}
.categorias_a{
    font-weight: 900;
    font-size: 1.3rem;
    padding: 0.8rem 0;
}

/* footer */
.footer{
    padding: 0rem 1.5rem;
    margin-bottom: 8rem;
    background-color: $black;
    color: white;
}
.footer_enlaces{
    padding: 2rem 0;
}
.footer_enlaces_a{
    padding: 0.6rem 0;
    font-size: 0.7rem;
    font-weight: 900;
}
.footer_hr{
    border-top: 1px solid white;
    
}
.footer_ayuda{
    padding: 1rem 0;
}
.footer_ayuda_acordeon{
    padding: 1rem 0;
}
.footer_ayuda_acordeon_title{
    font-weight: 900;
    font-size: 0.8rem;
}

.footer_ayuda_acordeon_contenido{
    height: 0;
    overflow: hidden;
    transition: all 5s ease-in-out;
}
.acordeon_activo{
    height: 100%;
  
    //padding: 1rem 0;
    //font-size: 0.9rem;
}
.footer_ayuda_acordeon_contenido li{
    padding: 0.5rem 0;

}